{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    Erp-Специалист
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col my-5">
            <h1 class="text-center display-3">Erp-Специалист</h1>
            <img src="{% static 'main/img/2xGjKV-6BQ.jpg' %}">
        </div>
    </div>
    <div class="row">
        <div class="col my-5">
            <p class="text-center description-par">
                ERP-консультант (консультант по внедрению ERP-систем) оказывает помощь по внедрению и наладке
                автоматизированных информационных систем управления бизнес-процессами предприятия
                (enterprise resource planning – ERP-систем)
            </p>
        </div>
    </div>
    <div class="row align-items-center justify-content-between">
        <div class="col col-5 my-5">
            <p>
                ERP-консультант внедряет и поддерживает комплексное ПО, предназначенное для управления предприятием.
                Этот софт называется ERP-система (Enterprise Resource Planning) и представляет собой взаимосвязанные
                приложения, которые нужны, чтобы автоматизировать учет и управление на предприятии, координировать
                работу разных отделов. ERP-система – единое хранилище данных всей компании (финансы, маркетинг,
                управление кадрами, производство, продажи и другие). Это интегрированная программа вместо нескольких
                разрозненных, позволяющая с наименьшими издержками достичь согласованности в работе отделов организации.
                К ней имеют доступ сотрудники компании, наделенные соответствующими полномочиями.
            </p>
        </div>
        <div class="col col-6 my-5">
            <img class="img-fluid" src="{% static 'main/img/erp-specialist-main.jpg' %}">
        </div>
    </div>
    <div class="row">
        <div class="col col-6 offset-md-3 my-5">
            <h3 class="text-center">Обязанности</h3>
            <ul class="charge-list">
                <li>
                    Общая координации работы над определенными модулями проекта (финансы, логистика, маркетинг и т. д.);
                </li>
                <li class="mt-2">
                    Детальное изучение и описание существующих бизнес-процессов клиента;
                </li>
                <li class="mt-2">
                    Выявление узких мест и проблем в бизнес-процессах;
                </li>
                <li class="mt-2">
                    Определение основных потребностей бизнеса заказчика;
                </li>
                <li class="mt-2">
                    Внесение предложений по устранению недостатков (создание концептуальных моделей оптимизированных
                    бизнес-процессов);
                </li>
                <li class="mt-2">
                    Формирование проектных решений и технических заданий для разработчиков;
                </li>
                <li class="mt-2">
                    Настройка модуля, над которым работает, а также обеспечение его интеграции и взаимодействия с
                    другими модулями системы и другими системами;
                </li>
                <li class="mt-2">
                    Обучение конечных пользователей ERP-системы в организации (проведение семинаров, тренингов,
                    подготовка обучающих материалов);
                </li>
                <li class="mt-2">
                    Осуществление технической поддержки установленной системы на финальных стадиях проекта и после его
                    окончания (консультация, предоставление необходимых корректировок и дополнений);
                </li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col my-5 col-5 mx-4">
            <h3>Плюсы:</h3>
            <ul>
                <li  class="mt-1">
                    Высокий спрос на рынке труда и большая заработная плата (при надлежащей квалификации);
                </li>
                <li class="mt-1">
                    Опыт работы исчисляется успешно завершенными проектами (поэтому если проект внедряется быстро,
                    то это положительно скажется на будущей карьере);
                </li>
                <li class="mt-1">
                    Возможность получить опыт работы в разных сферах и организациях, расширить круг полезных знакомств.
                </li>
            </ul>
        </div>
        <div class="col my-5 col-5 mx-4">
            <h3>Минусы:</h3>
            <ul>
                <li class="mt-1">
                    Возможны частые командировки;
                </li>
                <li class="mt-1">
                    Скептическое или негативное отношение сотрудников предприятий к нововведениям;
                </li>
                <li class="mt-1">
                    Ненормированный рабочий день.
                </li>
            </ul>
        </div>
    </div>
{% endblock %}